 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/style.css">
<style type="text/css">
	section{
		display:flex;
		gap:30px;
	/* 	justify-content: center; */
	}
	section>div{
		background-color: lightblue;
		padding: 20px;
		border-radius: 15px;
	}
</style>
</head>
<body>
	<nav class="top-navbar">
	    <div class="brand"> BookSphere </div>
	    <div class="nav-links">
	        <a href="/">Home</a>
	        <a href="login-signup" class="primary-btn">Login / SignUp</a>
	    </div>
   </nav>
	<div th:if="${msg}">
		<!--<div th:if="${msg=='Registered Successfully!'}">-->
		
		<!--<div th:if="${#strings.contains(msg,'Success')}">
			<p th:text="${msg}" style="text-align: center;background-color: green;color: white; padding: 10px;"></p>
		</div>
		<div th:if="${!#strings.contains(msg,'Success')}">
			<p th:text="${msg}" style="text-align: center;background-color: red;color: white; padding: 10px;"></p>
		</div>-->
		
		<p th:if="${#strings.contains(msg,'Success')}" th:text="${msg}" class="alert success-alert"></p>
		<p th:if="${!#strings.contains(msg,'Success')}"th:text="${msg}" class="alert error-alert"></p>
	</div>
	
	
	<section>
		<div>
			<h3>Login:</h3>
			<form action="Login" method="post">
				<label>Email:</label>
				<input type="email" name="email" required="required" /> <br><br>
				<label>Password:</label>
				<input type="password" name="password" required="required" /> <br><br>
				<button>Submit</button>
			</form>
		</div>
		<div>
			<h3>Sign Up:</h3>
			<form action="Register" method="post">
				<label>Name:</label>
				<input type="text" name="name" pattern="[a-zA-Z ]+" maxlength="25" required="required" /> <br><br>
				<label>Phone:</label>
				<input type="tel" name="phone" pattern="[0-9]+" maxlength="10" minlength='10' required="required" /> <br><br>
				<label>Email:</label>
				<input type="email" name="email" required="required" /> <br><br>
				<label>Password:</label>
				<input type="password" name="password" required="required" /> <br><br>
				<button>Submit</button>
			</form>
		</div>
	</section>
</body>
</html> 